@import '../../../app/styles/fonts.css';

.tag {
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 20px;
  display: inline-block;
}

.tag-default {
  background-color: var(--color-category-more);
}

.tag-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
}
