/* Основные стили аватарки, при наличии изображения */
.avatar--image {
    border-radius: 50%; /* Скругление углов для создания круглой формы */
    object-fit: cover; /* Подгон изображения под размеры блока с сохранением пропорций */
}

.avatar--no-image {
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid green;
  background-color: #FFFFFF;
  color: #253017;
  /* Динамический размер шрифта*/
  font-size: 0.8em; /* 80 % от базового размера */
  padding: 0.15em; /* Относительно размера шрифта */
}
