/* Основные стили аватарки, при наличии изображения */
.avatar--image {
    width: 48px; /* Ширина аватарки */
    height: 48px; /* Высота аватарки */
    border-radius: 50%; /* Скругление углов для создания круглой формы */
    object-fit: cover; /* Подгон изображения под размеры блока с сохранением пропорций */
}

.avatar--no-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid green;
  background-color: #FFFFFF;
  color: #253017;
}
