.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 206px;
}

.label {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  line-height: var(--font-line-height-text);
  color: var(--color-text-main);
  text-align: left;
}

.group {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  cursor: pointer;
  background-color: var(--color-main);
  border: 1px solid var(--color-caption);
  border-radius: 12px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  border: none;
  box-shadow: none;
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: flex;
  visibility: hidden;
  padding: 16px;
  margin-top: 4px;
  background: var(--color-main);
  border: 1px solid var(--color-caption);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

:global(.rdp-dropdowns) {
  font-weight: var(--font-weight-regular);
  text-transform: capitalize;
}

:global(.rdp-root) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  line-height: var(--font-line-height-text);
  color: var(--color-text-main);

  --rdp-selected-border: 16px solid var(--color-accent-main);
}

:global(.rdp-selected) {
  font-weight: var(--font-weight-regular);
}

:global(.rdp-dropdown) {
  cursor: pointer;
}

:global(.rdp-dropdown:focus-visible) {
  outline: none;
}

:global(.rdp-weekday) {
  padding: 0;
  font-family: var(--font-text);
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-caption);
  color: var(--color-accent-dark);
  text-transform: capitalize;
}

:global(.rdp-day) {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-caption);
  color: var(--color-accent-dark);
  text-transform: capitalize;
}

:global(.rdp-day_button) {
  width: 32px;
  height: 32px;
  color: var(--color-text-main);
}
